{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "s3:GetObject",
      "Resource": [
        "arn:aws:s3:::aws-ssm-{{ aws_ssm_ec2_region }}/*",
        "arn:aws:s3:::aws-windows-downloads-{{ aws_ssm_ec2_region }}/*",
        "arn:aws:s3:::amazon-ssm-{{ aws_ssm_ec2_region }}/*",
        "arn:aws:s3:::amazon-ssm-packages-{{ aws_ssm_ec2_region }}/*",
        "arn:aws:s3:::{{ aws_ssm_ec2_region }}-birdwatcher-prod/*",
        "arn:aws:s3:::patch-baseline-snapshot-{{ aws_ssm_ec2_region }}/*"
      ]
    }
  ]
}
